.box-email-verify{
    display: flex;
    align-items: center;
    
}
.box-email-verify svg{
   margin-left: 4px;
    
}
.text-verify{
    color: #3AC6C6;
    cursor: pointer;
    text-decoration: underline;
}
.carousel-inner{
    width: 452px !important;
    height: 450px !important;
}